<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINI Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>ALL Chats</h3>

    <form  method="get" action="/chats/new">
        <button>New Chat</button>
        <br>
        <br>
       
    </form>

    <% for(let chat of chats){ %>
        <div class="chat">
            <p>
               <i> From : <%=chat.from %> </i>
            </p>
           <div class="msg">
            <p>
         <%=chat.message %>
         <form method="get" action="/chats/<%=chat.id%>/edit">
            <button> Edit Chat</button>
        </form> 
        <br>
        <form method="post" action="/chats/<%=chat.id%>?_method=delete">
            <button> Delete Chat</button>
        </form>

            </p>
           </div>
            <p>
               <i> Received By : <%=chat.to %></i>
            </p>
            <p>
                <%= chat.created_at.toString().split(" ")[4] %>
            </p>
            <p>
              <strong>
                <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %>
              </strong> 
            </p>

          



        </div>
  
        <hr>
        <%}%>


</body>
</html>

